@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}

/* header區 */
/* 共用區 */
img {
    display: block;
}

body {
    font-family: 'Noto Sans TC';

}

a {
    text-decoration: none;
}

main>* {
    /* 設定<main>第一層的所有元素 */

    width: 100%;
}

/* header區 */
#topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #164101;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
}

#topbar .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#topbar .link {
    display: block;
    padding: 12px 16px;
    font-family: 'Noto Sans TC';
    font-size: 18px;
    color: white;
    font-weight: 400;
    transition: all .3s;
}

#topbar .link_dona {
    display: block;
    margin: 4px 4px 6px 4px;
    padding: 8px 12px 6px 12px;
    font-family: 'Noto Sans TC';
    font-size: 18px;
    color: white;
    font-weight: 400;
    background-color: #649B5B;
    border-radius: 25px;
    transition: all .3s;
}

#topbar .link:hover {
    color: #a2d3ac;
}

#topbar .link_dona:hover {
    background-color: #8db891;
}

/* 開頭背景 */
.green_bg {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;
    padding-right: 5%;
}

.green_text1 {
    font-size: 4rem;
    line-height: 80px;
    color: #2E8F00;
    font-weight: 400;
}

#green_bg {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.green_bg img {
    width: 395px;
    height: 406px;
}

/* 生活提醒小欄 */
.green_text2 {
    margin-top: 10px;
    font-size: 2rem;
    line-height: 30px;
    font-weight: 400;
}

#green_box {
    display: flex;
    justify-content: center;
}

.green_box {
    display: flex;
    width: 1249px;
    height: 48px;
    background-color: #5B7A45;
    align-items: center;
    padding: 19px 90px 19px 154px;
}

.green_box_text {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #ffff;
    font-weight: 700;
}

.green_light {
    background: #FFFF;
    height: 56px;
    width: 4px;
    margin-left: 28px;
    margin-right: 28px;
}

.green_box_img {
    display: flex;
    width: 55px;
    height: 48px;

}

.green_box_text1 {
    font-size: 1.1rem;
    color: #FFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.green_box_text2 {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

#green_fourbox {
    margin-top: 18px;
    display: flex;
    justify-content: center;

}

.green_fourbox1 {
    display: flex;
    flex-direction: row;

}

.green_fourbox1_item {
    width: 263px;
    height: 307px;
    background: #D9D9D9;
    border-radius: 55px;
    margin-left: 113px;
}

.green_fourbox_title {
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.green_fourbox_title_bg{
    margin-left: 126px;
    width: 249px;
    height: 55px;
    line-height: 55px;
    padding-top: 5px;
    background-image: url(../image/icon-title.png);
    background-repeat: no-repeat;
}
.green_fourbox_title_text{ 
   font-size: 20px;
   color: #FFFF;
   display: flex;
justify-content: center;

}
.green_fourbox_title_text img{
 display: flex;
    width: 18px;
 height: 18px;
 align-self: center;
padding-left: 5px;
}